@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}
.wide{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
/* HEADER */
.header {
    height: 100vh;
    background-image: url(/img/header-bg.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
}
.header::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header__container {
    color: white;
    z-index: 1;
}
.header__name {
    font-size: 6.5rem;
    margin: 1rem 0;
}
.header__tag-line {
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 1rem 0;
}
.header__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}
.icon-list {
    margin: 2rem 0;
}
/* NAV */
.sticky-nav {
    background-color: #f6f6f6;
}
.nav__container {
    display: flex;
    align-items: center;
}
.nav__logo {
    flex: 0 0 25%;
}
.nav__logo__name {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 0;
}
.nav__bar {
    flex: 0 0 75%;
}
.nav__item {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 15px;
}
.nav__list {
    display: flex;
    justify-content: flex-end;
}
/* About Me */
/* Experience */
.experience {
    background-color: #f8f8f8;
}