@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    line-height: 32px;
}
ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
    color: #333;
}
p,div {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.section-even, .section-odd{
    padding: 60px 0;
}
.section-even {
    background-color: #f8f8f8;
}
.section__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 15px 0;
    letter-spacing: 6px;
}
/* HEADER */
.header {
    height: 100vh;
    background-image: url(/inventory/img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
}
.header::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header__container {
    color: white;
}
.header__name, .header__tag-line, .icon-list {
    color: inherit;
    margin: 1rem 0;
}
.header__name {
    font-size: 5rem;
    letter-spacing: 10px;
}
.header__tag-line {
    font-size: 1.1rem;
    letter-spacing: 3px;
}
.header__icon {
    font-size: 1.3rem;
    margin-right: 1rem;
}
.icon-list {
    margin: 2rem 0;
}

/* NAV */
.sticky-nav {
    background-color: #f6f6f6;
}
.nav__container {
    display: flex;
    align-items: center;
}
.nav__logo {
    flex: 0 0 25%;
}
.nav__logo__name {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 0.8rem 0;
}
.nav__bar {
    flex: 0 0 75%;
}
.nav__item {
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 15px;
}
.nav__item a {
    line-height: 24px;
}
.nav__item:hover a{
    border-bottom: 1px solid #444;
}
.nav__list {
    display: flex;
    justify-content: flex-end;
}
/* About Me */
.about-me__image {
    margin: 0;
}
.about-me__image img{
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.content__header {
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}
.about-me__box {
    background-color: #222;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    position: relative;
}
.about-me__box::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #222;
    left: 0;
    bottom: 0;
}
.about-me__name {
    font-size: 2rem;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}
.about-me__name span {
    font-weight: 400;
}
.about-me__tagline {
    margin: 0;
}
.about-me__btn {
    text-align: right;
}
.about-me__btn .btn {
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 0.8rem;
    padding: 7px 0;
    margin: 15px 10px;
    transition: .3s;
}
.about-me__btn .btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4) ;
}
a.btn__hire-me {
    background-color: #333;
}
a.btn__download {
    background-color: #e74c3c;
}
/* Experience */

/* Footer */
.footer {
    background-color: #222222;
    color: #777;
    text-align: center;
    padding: 10px 0 30px 0;
}
.scroll-up {
    color: white;
    font-size: 2rem;
    transition: .3s;
    cursor: pointer;
}
.scroll-up:hover {
    transform: translateY(-15px) scale(1.3);
}